


<div class="row">
  <div class="text-center small-12 small-centered columns">
    <h1 style=font-family:"rio_orobold">About the Sharp Shot Shop</h1>
  </div>
</div>
<div class="row">

  <div class="small-6 column">
    <%= image_tag 'colt r.png' %>
  </div>

  <div class="small-6 column">
    <%= image_tag 'colt l.png' %>
  </div>

</div>

<hr>
<div class="row">
  <div class="text-justify small-12 small-centered columns">
    <strong style=font-family:"rio_ororegular">the SHARP SHOT SHOP is located in Griffith Indiana.  We are a Firearms Broker that provides personal service by appointment only.  Our goal is to get you what you want.. not what others are trying to sell from their stock.  You tell us what you have in mind and we will personally supply you with a product that meets those needs and specifications.  We also offer FFL transfer service if you need a product bought elsewhere shipped.</strong>
  </div>
</div>
<hr>
<div class="row">
  <div class="text-center small-12 small-centered columns">


<h1 class="reward" style="font-family:rio_orobold">REWARD</h1> <h1 class="reward" style=font-family:"rio_orobold">$$$50,0000$$$</h1>
</div></div>
