<div class="row">
  <div class="text-center small-12 small-centered columns">
    <h1 style="font-family: rio_orobold">BRANDS we SUPPLY</h1>
  </div>
</div>
<div class="row">
  <div class="text-center small-12 small-centered columns">
  </div>
</div>

<div class="row">
  <div class="text-center small-6 columns">
    <h2 style="font-family: rio_orobold">Armalite</h2>
  </div>
  <div class="text-center small-6 columns">
    <h2 style="font-family: rio_orobold">Ruger</h2>
  </div>
</div>

<div class="row">
  <div class="text-center small-6 columns">
    <h2 style="font-family: rio_orobold">Triple K products</h2>
  </div>
  <div class="text-center small-6 columns">
    <h2 style="font-family: rio_orobold">Stag Arms</h2>
  </div>
</div>

<div class="row">
  <div class="text-center small-6 columns">
    <h2 style="font-family: rio_orobold">Glock</h2>
  </div>
  <div class="text-center small-6 columns">
    <h2 style="font-family: rio_orobold"></h2>
  </div>
</div>
