<!-- Contact Details -->
<div class="row">
  <div class="text-center small-12  columns">
    <h1 style="font-family: rio_orobold; padding-top: 1em">Contact Us</h1>
  </div>
</div>
<div class="row">
  <div class="text-center small-4  columns">
    <h1 style="font-family: rio_orobold">DEAD</h1>
  </div>
  <div class="text-center small-4  columns">
    <h1 style="font-family: rio_orobold">or</h1>
  </div>
  <div class="text-center small-4  columns">
    <h1 style="font-family: rio_orobold">ALIVE</h1>

</div><hr>
  <div class="row">
    <div class="text-center small-12 small-centered columns">

      <h2 style="font-family: rio_ororegular">Sharp Shot Shop</h2>


      <h3 style="font-family: rio_ororegular">(219) 237-2361 Phone</h3>
      <h3 style="font-family: rio_ororegular">(800) 858-5746 Fax</h3>
      <h3 style="font-family: rio_ororegular">SharpShotShop@earthlink.net</h3>

    </div>
    </div>

    <div class="section-container tabs" data-section>
      <section class="section">
        <div class="content text-center" data-slug="panel1">
          <form>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline"><strong>Your Name</strong></label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="yourName" placeholder="John Smith">
              </div>
            </div>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline"> <strong>Your Email</strong></label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="yourEmail" placeholder="john@smithco.com">
              </div>
            </div>
            <label><srtong>What's up?</srtong></label>
            <textarea rows="4"></textarea>
            <button type="submit" class="radius button" style="font-family: rio_ororegular">SUBMIT</button>
          </form>
        </div>
      </section>
      <div class="small-12 text-center columns">
        <h5 STYLE="font-family: rio_orobold">Map</h5>
        <!-- Clicking this placeholder fires the mapModal Reveal modal -->
        <p>
          <iframe width="100%" height="450" frameborder="1" style="border:1"
                  src="https://www.google.com/maps/embed/v1/search?q=221+N+Broad+St,+Griffith,+IN+46319,+United+States&key=AIzaSyCenXNJNutjQ8ICju_DgIKTtIfnSH-VJ2g"></iframe>        </p>
        <p>
        <h3 style="font-family: rio_ororegular">221 N. Broad St.<br>Griffith, Indiana  46319</h3>
        </p>
      </div>

    </div>
  </div>

  <!-- End Contact Details -->


  <!-- Sidebar -->


  <!-- End Sidebar -->

<!-- End Main Content and Sidebar -->


<!-- Map Modal -->

<div class="reveal-modal" id="mapModal">
  <h4>Where We Are</h4>
  <p><img src="http://placehold.it/800x600" /></p>

  <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
  <a href="#" class="close-reveal-modal">&times;</a>
</div>

