<!-- Contact Details -->
<div class="row">
  <div class="text-center small-12  columns">
    <h1 style="font-family: rio_orobold; padding-top: 1em">Contact Us</h1>
  </div>
</div>
<div class="row">
  <div class="text-center small-12  columns">
    <h2 style="font-family: rio_orobold">DEAD or ALIVE</h2>

  </div>
  <hr>
</div>
  <div class="row">
    <div class="text-center small-12 small-centered columns">

      <h2 style="font-family: rio_ororegular">Sharp Shot Shop</h2>


      <h3 style="font-family: rio_ororegular">(800) 858-5746 Fax</h3>
      <h3><a  href="tel:+12192372361" style=" color: #5b4a3a">(219) 237-2361</a> Phone</h3>

      <h4 style="font-family: rio_ororegular;  "><a href="mailto:SharpShotShop@earthlink.net" style=" color: #5b4a3a">SharpShotShop@earthlink.net</a></h4>
    </div>
    <hr>
    </div>

    <div class="section-container tabs" data-section>
      <section class="section">
        <div class="content text-center" data-slug="panel1">
          <form>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline"><strong>Your Name</strong></label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="yourName" placeholder="John Smith">
              </div>
            </div>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline"> <strong>Your Email</strong></label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="yourEmail" placeholder="TheDuke@RioBravo.com">
              </div>
            </div>
            <strong><label>What's up?</label></strong>
              <textarea rows="4" id="whatsup" placeholder="tell us how we can help you..."></textarea>
            <button type="submit" class="radius button" style="font-family: rio_ororegular">SUBMIT</button>
          </form>
        </div>
      </section>
      <div class="small-11 small-centered large-10 large-centered text-center columns">
        <h5 STYLE="font-family: rio_orobold">Map</h5>
        <hr>
          <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=221+N+Broad+St,+Griffith,+IN+46319,+United+States&key=AIzaSyCenXNJNutjQ8ICju_DgIKTtIfnSH-VJ2g"></iframe>
        <hr>
        <h3 style="font-family: rio_ororegular">221 N. Broad St.<br>Griffith, Indiana  46319</h3>
      </div>

    </div>

  <!-- End Contact Details -->
