<div class="row">
  <div class="text-center small-12  columns">
    <h1 style="font-family: rio_orobold">Contact Us</h1>
  </div>
</div>
<div class="row">
  <div class="text-center small-4  columns">
    <h1 style="font-family: rio_orobold">DEAD</h1>
  </div>
  <div class="text-center small-4  columns">
    <h1 style="font-family: rio_orobold">or</h1>
  </div>
  <div class="text-center small-4  columns">
    <h1 style="font-family: rio_orobold">ALIVE</h1>
  </div>
</div>

<div class="row">
  <div class="text-center small-12 small-centered columns">

    <h3 style="font-family: rio_ororegular">Feel free to contact us at our store in Griffith, by Email, or phone.</h3>

    <h2 style="font-family: rio_ororegular">Sharp Shot Shop</h2>

    <h3 style="font-family: rio_ororegular">221 N. Broad St. Griffith Indiana  46319</h3>

    <h3 style="font-family: rio_ororegular">(219) 237-2361 Phone</h3>
    <h3 style="font-family: rio_ororegular">(800) 858-5746 Fax</h3>
    <h3 style="font-family: rio_ororegular">SharpShotShop@earthlink.net</h3>

</div>
</div>
