<div class="row">
  <div class="text-center small-11 small-centered columns"><h1  style="font-family: rio_orobold">LOOKING FOR SOMETHING SPECIAL</h1>

    <hr>
<div class="text-justify">
<strong> We have a selection of Left Handed firearms for your shooting needs.
As a left handed shooter myself, I can help you find a model that fits your shooting/hunting needs.
We have access to more left handed firearms then most other places.</strong>

<strong >IBFM SUPPLY is a subsidiary of LKMH Enterprise LLC (owners of Sharp Shot Shop)

  Located in Whiting Indiana.
  Known internationally as a source of solutions to your parts supply problems.

  If you can't find it, WE CAN…. IBFM (I Be F*KING Magic) is your source for anything and everything that you need in your Industrial Business, Marine, or Specialty application.
  If I can't help you, I will give you the source that can.
  We are a consulting operation with supply options.</strong>
</div></div></div>