<div class="row">
  <!-- Side Bar -->

  <div class="large-4 small-12 columns">
    <%= image_tag 'armalitelg.png' %>

    <div class="hide-for-small ">
      <h3>ARMALITE</h3>
      <hr>
      <h5 class="text-justify">Few firearm manufacturers have captured the imagination of American Shooters as
        thoroughly as ArmaLite. ArmaLite first rose to prominence during the late 1950s, with a
        series of innovative rifles that looked unlike any produced before. Although ArmaLite
        itself was unable to reap the full benefit of its work, the ArmaLite design team created
        innovative designs that still are setting the standard by which new models are evaluated.</h5>
      <hr>
    </div><a href="#">
    <div class="panel callout radius">
      <h6>99&nbsp; items in your cart</h6>
    </div></a>
  </div><!-- End Side Bar -->
  <!-- Thumbnails -->

  <div class="large-8 columns">
    <div class="row">
      <div class="large-4 small-6 columns">
        <img src="http://placehold.it/1000x1000&amp;text=Thumbnail">

        <div class="panel">
          <h5>Item Name</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://placehold.it/500x500&amp;text=Thumbnail">

        <div class="panel">
          <h5>Item Name</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://placehold.it/500x500&amp;text=Thumbnail">

        <div class="panel">
          <h5>Item Name</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://placehold.it/500x500&amp;text=Thumbnail">

        <div class="panel">
          <h5>Item Name</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://placehold.it/500x500&amp;text=Thumbnail">

        <div class="panel">
          <h5>Item Name</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://placehold.it/500x500&amp;text=Thumbnail">

        <div class="panel">
          <h5>Item Name</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>
    </div><!-- End Thumbnails -->
  </div>
</div>
