<div class="row">
  <!-- Side Bar -->

  <div class="large-4 small-12 columns">
    <%= image_tag 'glocklg.png' %>

    <div class="hide-for-small ">
      <h3>GLOCK</h3>
      <hr>
      <h5 class=" text-justify">Our heritage is not just our history:
        It is our way of thinking, a culture of continuous improvement. The 4th generation of the GLOCK “Safe Action”® pistol brings revolutionary design changes to the world’s most popular pistol.</h5>
      <hr>
    </div><a href="#">
    <div class="panel callout radius">
      <h6>0&nbsp; items in your cart</h6>
    </div></a>
  </div><!-- End Side Bar -->
  <!-- Thumbnails -->

  <div class="large-8 columns">
    <div class="row">
      <div class="large-4 small-6 columns">
        <img src="http://us.glock.com/img/compare/hover/g41gen4.png" width="600">

        <div class="panel">
          <h5>GLOCK 41</h5>

          <h6 class="subheader">$1000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://us.glock.com/img/compare/hover/g17gen4.png" width="600">

        <div class="panel">
          <h5>GLOCK 17</h5>

          <h6 class="subheader">$2000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://us.glock.com/img/compare/hover/g34gen4.png" width="600">

        <div class="panel">
          <h5>GLOCK 34</h5>

          <h6 class="subheader">$3000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://us.glock.com/img/compare/hover/g37gen4.png" width="600">

        <div class="panel">
          <h5>GLOCK 37</h5>

          <h6 class="subheader">$4000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://us.glock.com/img/compare/hover/g21gen4.png" width="600">

        <div class="panel">
          <h5>GLOCK 21 GEN4</h5>

          <h6 class="subheader">$5000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://us.glock.com/img/compare/hover/g33.png" width="600">

        <div class="panel">
          <h5>GLOCK 33</h5>

          <h6 class="subheader">$6000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://us.glock.com/img/accessories/gtl10-detail.jpg" width="600">

        <div class="panel">
          <h5>gtl 10</h5>

          <h6 class="subheader">$600.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://us.glock.com/img/accessories/gtl21-detail.jpg" width="600">

        <div class="panel">
          <h5>gtl 21/22</h5>

          <h6 class="subheader">$284.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://us.glock.com/img/accessories/field-knife-detail.jpg" width="600">

        <div class="panel">
          <h5>fm 78: field knife</h5>

          <h6 class="subheader">$284.00</h6>
        </div>
      </div>


    </div><!-- End Thumbnails -->
    </div>
  </div>
