<div class="row">
  <!-- Side Bar -->

  <div class="large-4 small-12 columns">
    <%= image_tag 'rugerlg.png' %>

    <div class="hide-for-small ">
      <h3>RUGER</h3>
      <hr>

      <h5 class=" text-justify">When Sturm, Ruger & Co., Inc. opened for business in 1949 with a meager $50,000 investment, the Company faced serious doubts from industry insiders. The "it can't be done" remarks of the experts reflected the widespread view that the manufacture of guns had likely peaked, and was in a state of decline. There seemed to be few new ideas, and the apparent trend was that the large, established-name gunmakers would continue to dominate the market.<hr>

      </h5>
    </div><a href="#">
    <div class="panel callout radius">
      <h6>99&nbsp; items in your cart</h6>
    </div></a>
  </div><!-- End Side Bar -->
  <!-- Thumbnails -->

  <div class="large-8 columns">
    <div class="row">
      <div class="large-4 small-6 columns">
        <img src="http://placehold.it/1000x1000&amp;text=Thumbnail">

        <div class="panel">
          <h5>Item Name</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://placehold.it/500x500&amp;text=Thumbnail">

        <div class="panel">
          <h5>Item Name</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://placehold.it/500x500&amp;text=Thumbnail">

        <div class="panel">
          <h5>Item Name</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://placehold.it/500x500&amp;text=Thumbnail">

        <div class="panel">
          <h5>Item Name</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://placehold.it/500x500&amp;text=Thumbnail">

        <div class="panel">
          <h5>Item Name</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://placehold.it/500x500&amp;text=Thumbnail">

        <div class="panel">
          <h5>Item Name</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>
    </div><!-- End Thumbnails -->
  </div>
</div>
