<div class="row">
  <!-- Side Bar -->

  <div class="large-4 small-12 columns">
    <%= image_tag 'tripleklg.png'%>

    <div class="hide-for-small panel">
      <h3>Triple K brand</h3>

      <h5 class="subheader">Today, celebrating over 69 years in business, Triple K Manufacturing Company is still a family owned and operated San Diego based company. Triple K products are recognized around the globe. Kurt Krasne is looking forward to having his children, Kasey, Karly, and Keegan join him in the family business and keep the tradition of excellence and customer satisfaction alive. "After all, Customer Satisfaction is Everything." (Quote by Leo Krasne)</h5>
    </div><a href="#">
    <div class="panel callout radius">
      <h6>99&nbsp; items in your cart</h6>
    </div></a>
  </div><!-- End Side Bar -->
  <!-- Thumbnails -->

  <div class="large-8 columns">
    <div class="row">
      <div class="large-4 small-6 columns">
        <img src="http://www.triplek.com/marketing/WEBSITE-DEALERS/ART_II/_39.jpg">

        <div class="panel">
          <h5>Packer Holster</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://www.triplek.com/marketing/WEBSITE-DEALERS/ART_II/249.jpg">

        <div class="panel">
          <h5>rifle cartridge belt</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://www.triplek.com/marketing/WEBSITE-DEALERS/ART_II/6034.jpg">

        <div class="panel">
          <h5>cavalry saddle bags</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://www.triplek.com/marketing/WEBSITE-DEALERS/ART_II/_276-277-278.jpg">

        <div class="panel">
          <h5>three piece set</h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

      <div class="large-4 small-6 columns">
        <img src="http://www.triplek.com/marketing/WEBSITE-DEALERS/ART_II/_3000_3001.jpg">

        <div class="panel">
          <h5>3000 Nickel Finish Peerless® Handcuffs </h5>

          <h6 class="subheader">$000.00</h6>
        </div>
      </div>

    </div><!-- End Thumbnails -->
  </div>
</div>
